<launch>
    <arg name="car_name" default="imin_car" />
    <arg name="use_AUTO" default="false" />
    
    <arg name="record" default="false" />
    <arg name="bagpath" default="/media/ubuntu/rosbags" />

    <group ns="$(arg car_name)">
        <node name="run_arduino" pkg="imin_car" type="arduino_node.py" output="screen">
        </node>

        <node name="run_AUTO" pkg="imin_car" type="publish_control_cmd_node.py" output="screen" if="$(arg use_AUTO)">     
        </node>
        
    </group>
    
    <arg name="rosbag_args"
     value="/$(arg car_name)/cmd/motor /$(arg car_name)/cmd/state /$(arg car_name)/cmd/steer /$(arg car_name)/cmd/freeze /$(arg car_name)/encoder /$(arg car_name)/gps /$(arg car_name)/gyro /$(arg car_name)/gyro_heading /$(arg car_name)/acc /$(arg car_name)/motor /$(arg car_name)/sonar /$(arg car_name)/state /$(arg car_name)/steer /$(arg car_name)/GPS2_hour /$(arg car_name)/GPS2_min /$(arg car_name)/GPS2_sec /$(arg car_name)/GPS2_day /$(arg car_name)/GPS2_mon /$(arg car_name)/GPS2_yr /$(arg car_name)/GPS2_fix /$(arg car_name)/GPS2_qual /$(arg car_name)/GPS2_lat /$(arg car_name)/GPS2_long /$(arg car_name)/GPS2_speed /$(arg car_name)/GPS2_angle /$(arg car_name)/GPS2_alt /$(arg car_name)/GPS2_sat /$(arg car_name)/camera_heading /$(arg car_name)/left_right /$(arg car_name)/model_name"/>
    
    <node name="rosbag_record_node" pkg="imin_car" type="rosbag_record_node.py" output="screen"
     args="$(arg car_name) $(arg bagpath) $(arg rosbag_args)" respawn="true" if="$(arg record)">
    </node>
    
</launch>
